
<form [formGroup]="form">

    <div class="row user-section">
        <div class="col-sm-5">

          <div *ngIf="brandNew" class="space-top-1 alert alert-success" role="alert">
            <strong>Почти готово!</strong> Пожалуйста войдите в свой аккаунт
          </div>
          <div 
            *ngIf="userName.touched && userName.invalid" 
            class="alert alert-danger alert-dismissible fade show" 
            role="alert">
            <strong>Ошибка.</strong>Email введен неверно.
          </div>
          <div 
            *ngIf="password.touched && password.invalid" 
            class="space-top-1 alert alert-danger alert-dismissible fade show" 
            role="alert">
            <strong>Ошибка.</strong>Пароль должен быть длиной не менее 6 символов.
          </div>
          <div 
            class="space-top-1 alert alert-danger alert-dismissible fade show" 
            role="alert"
            *ngIf="errors.length > 0">
            {{errors}}
          </div> 
            <h4>Войти</h4>

            <div class="form-group">
              <label for="inputUserName">Электронный адрес</label>
                <input 
                  formControlName="userName"
                  type="email" 
                  class="form-control" 
                  id="inputUserName"             
                  aria-describedby="userNameHelp" 
                  placeholder="Укажите ваш email, указанный при регистрации">

            </div>
  
            <div class="form-group">
              <label for="inputPassword">Пароль</label>
                <input
                  formControlName="password"
                  type="password" 
                  class="form-control" 
                  id="inputPassword" 
                  aria-describedby="passwordHelp" 
                  placeholder="Укажите ваш пароль">
            </div>

    
          
        </div>
      </div>

      <div class="row col-sm-5 user-section">
        <div class="form-group">
          <button 
            class="btn btn-primary"
            [disabled]="!form.valid || isRequesting"
            (click)="onLoginClick()">
            Войти
          </button>
          <spinner-form [isRunning]="isRequesting"></spinner-form>  
        </div>     
      </div>




</form>

