<form [formGroup]="form">

    <div class="row user-section">
      <div class="form-group col-md-4">
          <!-- <label for="inputOldPassword">Пароль</label> -->
          <input
            formControlName="oldPassword"
            type="password" 
            class="form-control" 
            id="inputOldPassword" 
            aria-describedby="passwordHelp" 
            placeholder="Cтарый пароль">
        </div>
        <div 
          *ngIf="oldPassword.touched && oldPassword.invalid" 
          class="form-group col-md-4 alert alert-danger alert-dismissible fade show" 
          role="alert">
          <strong>Ошибка.</strong>Пароль должен быть длиной не менее 6 символов и иметь хотя бы один не повторяющийся.
        </div>
    </div>
    <div class="row user-section">
        <div class="form-group col-md-4">
            <!-- <label for="inputNewRepeatPassword">Новый пароль</label> -->
          <input
            formControlName="newPassword"
            type="password" 
            class="form-control" 
            id="inputNewPassword" 
            aria-describedby="newPasswordHelp" 
            placeholder="Новый пароль">
        </div>
          <div 
            *ngIf="newPassword.touched && newPassword.invalid" 
            class="alert alert-danger alert-dismissible fade show" 
            role="alert">
            <strong>Ошибка.</strong>Пароль должен быть длиной не менее 6 символов и иметь хотя бы один не повторяющийся.
        </div>
    </div>

    <div class="row col-md-4 user-section">
      <div class="form-group">
        <button 
          class="btn btn-primary"   
          [disabled]="!form.valid || isRequesting"       
          (click)="onChangePasswordClick()">
          Изменить пароль
        </button>
        <spinner-form [isRunning]="isRequesting"></spinner-form>
      </div>     
    </div>  

    <div 
    class="user-section alert alert-danger alert-dismissible fade show" 
    role="alert"
    *ngIf="errors.length > 0">
    {{errors}}   
  </div> 
    
</form>
