a {
    color: #03A9F4;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7; // padding: 3rem;    
}

.navbar {
    padding: 0rem 3rem;
}

.calc-section {
    margin-top: 1rem;
}

.rooms-section {
    margin-top: 1rem;
}

.bulding-section {
    margin-top: 1rem;
}

.city-section {
    margin-top: 3rem;
}

.buldingType-section {
    margin-top: 1rem;
}

.buldingKind-section {
    margin-top: 1rem;
}

.roomsTable-section {
    margin-top: 1rem;
}

.airexchange-section {
    margin-top: 1rem;
}

.user-section {
    margin-top: 1rem;
}

.table>thead>tr>th {
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

.airExchange-section {
    margin-top: 3rem;
}

.airExchange-section__table {
    margin-top: 1.5rem;
}

.spinner {
    margin-top: 1rem;
    border: 1rem solid #f3f3f3; /* Light grey */
    border-top: 1rem solid #3498db; /* Blue */
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.space-top-1 {
    margin-top: 1rem;
}

.space-top-3 {
    margin-top: 3rem;
}

.width-45 {
    width: 45rem;
}

.width-30 {
    width: 30rem;
}

.margin-right-2 {
    margin-right: 2rem;
}

.margin-right-05 {
    margin-right: .5rem;
}

.scrollable-width {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}