a {
    color: #03A9F4;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7; // padding: 3rem;    
}

.navbar {
    padding: 0rem 3rem;
}

.calc-section {
    margin-top: 1rem;
}

.rooms-section {
    margin-top: 1rem;
}

.bulding-section {
    margin-top: 1rem;
}

.city-section {
    margin-top: 3rem;
}

.buldingType-section {
    margin-top: 1rem;
}

.buldingKind-section {
    margin-top: 1rem;
}

.roomsTable-section {
    margin-top: 1rem;
}

.airexchange-section {
    margin-top: 1rem;
}

.table>thead>tr>th {
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

.airExchange-section {
    margin-top: 3rem;
}

.airExchange-section__table {
    margin-top: 1.5rem;
}