<div class="usersTable-section" 
    *ngIf="users.length > 0">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">№</th>
          <th scope="col">Фамилия</th>
          <th scope="col">Имя</th>
          <th scope="col">Отчество</th>  
          <th sope="col">Имя пользователя</th>        
          <th scope="col"></th>          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of users; let i=index">
          <td scope="row">{{ i + 1 }}</td>
          <td>{{ u.lastName }}</td>
          <td>{{ u.firstName }}</td>
          <td>{{ u.secondName }}</td> 
          <td>{{ u.userName }}</td>          
          <td>
            <swal
              #deleteSwal
              title="Удалить пользователя {{ u.lastName + ' ' + u.firstName + ' ' + u.middleName }}?"
              text="Действие не обратимо"
              type="question"
              [showCancelButton]="true"
              [focusCancel]="true"
              (confirm)="onDeleteUserClick(u.identityId)">
            </swal>
            <button              
              type="button" 
              class="btn btn-primary btn-sm"              
              (click)="deleteSwal.show()"
              >
              Удалить
            </button> 
            <a href=""></a>
            <button 
              type="button" 
              class="btn btn-primary btn-sm"
              data-toggle="modal" data-target="#roomAdd"
              (click)="editUser(u.identityId)">
              Изменить
            </button>           
          </td>         
        </tr>        
      </tbody>
    </table>   
  </div>
