<!-- <p>{{ form.value | json}}</p>
<p>{{ calculatorForm | json}}</p> -->

<form [formGroup]="form">
  <!-- География начало -->
  <div class="row city-section">
    <div class="col-sm-5">
      <div class="form-group">
        <label for="geography" 
          data-toggle="tooltip"   
          data-placement="right" 
          title="Tooltip on right">
          <h2>География</h2>
        </label>		
        <select 
          formControlName="city"
          id="inputCity" 
          class="form-control"       
          (change)="onCityChange()">
          <option value="">Выберите город из списка ...</option>
          <option 
            *ngFor="let c of cities" 
            value="{{ c.id }}"> {{ c.cityName}}
          </option>
        </select>
        <!-- <div  class="alert alert-danger">Выберите город</div> -->
        <!-- Предупреждение в случае ошибки заполнения данных -->
        <div *ngIf="city.touched && city.invalid" 
          class="alert alert-danger alert-dismissible fade show" 
          role="alert">
          <strong>Ошибка заполнения данных.</strong> Выберите город.
        </div>
      </div>      
    </div>
    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
  </div>
  <!-- География конец -->

  <!-- Виды зданий  начало -->
  <div class="row buldingKind-section">
    <div class="col-sm-5">
      <div class="form-group">        
        <h2>Здания</h2> 
          <div 
            class="btn-group btn-group-toggle" 
            data-toggle="buttons">            
              <label 
                class="btn btn-secondary"
                *ngFor="let kind of buildingKinds"
                (click)="buildingKindSelect(kind.id)">
                <input 
                  formControlName="buildingKind" 
                  type="radio" 
                  name="buildingKind"
                  id= "{{ kind.id }}" 
                  autocomplete="off"                                                         
                  > {{ kind.buildingKindName }}
              </label>   
          </div> 
      </div>
    </div>
  </div>
  <!-- Виды зданий конец -->

  <!-- Типы зданий начало -->  
    <div class="row buldingType-section" *ngIf="selectedBuildingKind !== 0">      
        <div class="col-sm-5">
          <div 
            class="form-check"
            *ngFor="let type of buildingTypes; let i=index">
            <input 
              formControlName="buildingType"
              class="form-check-input" 
              type="radio" 
              name="buildingType" 
              id="typeRadio {{ type.id }}" 
              value="type.id"            
              (change)="onBuildTypeChange(type.id, i)"
              [checked]="isCheckedBuildType(i)">
            <label 
              class="form-check-label" 
              for="typeRadio {{ type.id }}">
              {{ type.buildingTypeName }}
            </label>
          </div>
          <div 
            *ngIf="buildType.touched && buildType.invalid" 
            class="alert alert-danger alert-dismissible fade show" 
            role="alert">
            <strong>Ошибка заполнения данных.</strong> Выберите вид здания.
          </div>  
        </div>      
    </div>  
  <!-- Типы зданий конец -->
  
  <!-- Добавить помещение начало -->
  <div class="row rooms-section">    
    <div class="col-sm-3">
      <h2>Помещения</h2>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#roomAdd">
        Добавить
      </button>
      <!-- Modal -->
      <div 
        class="modal fade" 
        id="roomAdd" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="roomAddTitle" 
        aria-hidden="true">
        <div 
          class="modal-dialog modal-dialog-centered" 
          role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" 
                id="exampleModalLongTitle">
                Добавить помещение
              </h5>
              <button 
                type="button" 
                class="close" 
                data-dismiss="modal" 
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div formGroupName="room">
              <div class="modal-body">
                <div class="form-group">
                  <label for="inputRoomNumber">№ помещения</label>
                  <input 
                    formControlName="roomNumber"
                    type="number" 
                    min="0"
                    class="form-control" 
                    id="inputRoomNumber" 
                    placeholder="0">
                </div>
              </div>
              <div class="modal-body">        
                <div class="form-group">
                  <label for="roomSelect">Помещение</label>
                  <select 
                    formControlName="roomName"
                    class="form-control" 
                    id="roomSelect">
                    <option value="">Выберите помещение из списка ...</option>
                    <option
                      *ngFor="let r of roomTypes"
                      value="{{ r.id }}"> {{ r.roomTypeName }}
                    </option>   
                  </select>
                </div>            
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label for="inputSquare">Площадь, м2</label>
                  <input 
                  formControlName="roomArea"
                    type="number" 
                    step="10"
                    min="0"
                    class="form-control" 
                    id="inputSquare" 
                    placeholder="0">
                </div>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label for="inputSquare">Высота, м</label>
                  <input 
                    formControlName="roomHeight"
                    type="number" 
                    step="10"
                    min="0"
                    class="form-control" 
                    id="inputSquare" 
                    placeholder="0">
                </div>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label for="inputSquare">Этаж</label>
                  <input 
                    formControlName="roomFloor"
                    type="number"               
                    class="form-control" 
                    id="inputSquare" 
                    placeholder="0">
                </div>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label for="inputSquare">Кол-во людей</label>
                  <input 
                    formControlName="roomPeopleAmount"
                    type="number"    
                    min="0"           
                    class="form-control" 
                    id="inputSquare" 
                    placeholder="0">
                </div>
              </div>
              <div class="modal-footer">
                <button 
                  type="button" 
                  class="btn btn-secondary" 
                  data-dismiss="modal">
                  Отмена
                </button>
                <button 
                  type="button" 
                  data-dismiss="modal"
                  (click)="onSaveRoomClick()"
                  class="btn btn-primary">                            
                  Сохранить
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Добавить помещение конец -->

  <!-- Таблица помещений начало -->
  <div class="roomsTable-section" 
    *ngIf="rooms.length > 0">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">№</th>
          <th scope="col">Наименование</th>
          <th scope="col">Площадь м2</th>
          <th scope="col">Высота</th>
          <th scope="col">Этаж</th>
          <th scope="col"> </th>          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of rooms; let i=index">
          <td scope="row">{{ r.roomNumber }}</td>
          <td>{{ r.roomName }}</td>
          <td>{{ r.area }}</td>
          <td>{{ r.height }}</td>
          <td>{{ r.floor }}</td>
          <td>
            <swal
              #deleteSwal
              title="Удалить помещение №{{ r.roomNumber }}?"
              text="Действие не обратимо"
              type="question"
              [showCancelButton]="true"
              [focusCancel]="true"
              (confirm)="onDeleteRoomClick(r.id)">
            </swal>
            <button              
              type="button" 
              class="btn btn-primary btn-sm"              
              (click)="deleteSwal.show()"
              >
              Удалить
            </button>
            <button 
              type="button" 
              class="btn btn-primary btn-sm"
              data-toggle="modal" data-target="#roomAdd"
              (click)="initRoom(r.id, true)">
              Копировать
            </button>  
            <button 
              type="button" 
              class="btn btn-primary btn-sm"
              data-toggle="modal" data-target="#roomAdd"
              (click)="initRoom(r.id)">
              Изменить
            </button>           
          </td>         
        </tr>        
      </tbody>
    </table>   
  </div>
  <!-- Таблица помещений конец -->

  <!-- Рассчитать начало -->
  <div class="row calc-section">
    <div class="col-sm-5">
      <button 
        class="btn btn-primary"
        (click)="onCalculateProjectClick()">
        Рассчитать
      </button>
    </div>    
  </div>
  <!-- Рассчитать конец -->
  <div class="airexchange-section"
    *ngIf="airExchangeProject.airExchangeRooms.length > 0">
    <airexchange-form></airexchange-form>
  </div>
  
</form>
