<!-- <p>{{ form.value | json}}</p>
<p>{{ calculatorForm | json}}</p> -->

<form [formGroup]="form">

  <div class="space-top-1"></div>  
    <div class="row justify-content-end">    
      <div class="row">
          <button 
          class="btn btn-primary margin-right-05"
          (click)="onSaveProject()">
          Сохранить
        </button>        
      
        <button 
          class="btn btn-primary margin-right-05"
          (click)="onCalculateProjectClick()">
          Рассчитать
        </button>        
      
        <button *ngIf="project.id > 0"
          class="btn btn-danger margin-right-2"
          (click)="deleteSwal.show()">
          Удалить
        </button> 
        <swal
          #deleteSwal
          title="Удалить проект {{ project?.projectName }}?"
          text="Действие не обратимо"
          type="question"
          [showCancelButton]="true"
          [focusCancel]="true"
          (confirm)="onDeleteProject()">
        </swal>
      </div>
    </div>

  <div class="space-top-3"></div>
  <div class="row">
    <div class="col-md-12">
        <div *ngIf="errors.length > 0" 
            class="alert alert-danger alert-dismissible fade show" 
            role="alert">
            <div *ngFor="let error of errors">
              <strong>Ошибка заполнения.</strong>{{error}}
            </div>
        </div>
      </div>
  </div>

  <div class="space-top-1"></div>
  <div class="row">
    <div class="col-md-12">
        <div *ngIf="cityErrors.length > 0" 
            class="alert alert-danger alert-dismissible fade show" 
            role="alert">
            <div *ngFor="let error of cityErrors">
              <strong>Ошибка заполнения.</strong>{{error}}
            </div>
        </div>        
      </div>
  </div>

  <div class="space-top-1"></div>
  <div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="inputProjectName"><h2>Проект</h2></label>
            <input 
              formControlName="projectName"
              type="text"                          
              class="form-control form-control-sm" 
              id="inputProjectName">
        </div> 
    </div>

  </div>
  <!-- География начало -->
  <div class="space-top-1"></div>
  <div class="row">
    <div class="col-md-12">      
      <div class="form-group">
        <label for="geography" 
          data-toggle="tooltip"   
          data-placement="right" 
          title="Tooltip on right">
          <h2>География</h2>
        </label>		
        <ngx-select 
          [formControl]="city"
          size="small"
          optionValueField="id"
          optionTextField="cityName" 
          [allowClear]="true"                    
          [items]="cities"
          placeholder="Выберите город из списка или напишите ..."
          (select)="onCityChange($event)">
        </ngx-select>
        <!-- Предупреждение в случае ошибки заполнения данных -->
        <!-- <div *ngIf="city.touched && city.invalid" 
          class="alert alert-danger alert-dismissible fade show" 
          role="alert">
          <strong>Ошибка заполнения данных.</strong> Выберите город.
        </div> -->
      </div>      
    </div>

  </div>
  <!-- География конец -->

  <!-- Виды зданий  начало -->
  <!-- <div class="row buldingKind-section">
    <div class="col-sm-5">
      <div class="form-group">        
        <h2>Здания</h2> 
          <div 
            class="btn-group btn-group-toggle" 
            data-toggle="buttons">            
              <label 
                class="btn btn-secondary"
                *ngFor="let kind of buildingKinds"
                (click)="buildingKindSelect(kind.id)">
                <input 
                  formControlName="buildingKind" 
                  type="radio" 
                  name="buildingKind"
                  id= "{{ kind.id }}" 
                  autocomplete="off"                                                         
                  > {{ kind.buildingKindName }}
              </label>   
          </div> 
      </div>
    </div>
  </div> -->
  <!-- Виды зданий конец -->

  <!-- Типы зданий начало -->  
    <!-- <div class="row buldingType-section" *ngIf="selectedBuildingKind !== 0">      
        <div class="col-sm-5">
          <div 
            class="form-check"
            *ngFor="let type of buildingTypes; let i=index">
            <input 
              formControlName="buildingType"
              class="form-check-input" 
              type="radio" 
              name="buildingType" 
              id="typeRadio {{ type.id }}" 
              value="type.id"            
              (change)="onBuildTypeChange(type.id, i)"
              [checked]="isCheckedBuildType(i)">
            <label 
              class="form-check-label" 
              for="typeRadio {{ type.id }}">
              {{ type.buildingTypeName }}
            </label>
          </div>
        </div>      
    </div>   -->
  <!-- Типы зданий конец -->



  <!-- Добавить помещение начало -->
  <div class="space-top-1"></div>
  <div class="row">    
    <div class="col-md-12">
      <h2>Помещения</h2>
      <!-- Button trigger modal -->
      <!-- [disabled]="!city.value" -->
      <!-- (click)="validateCity()" -->
      <button         
        type="button" 
        class="btn btn-primary" 
        data-toggle="modal"                 
        data-target="#roomAdd">
        Добавить
      </button>
      </div>
      <!-- Modal -->
      <div 
        class="modal fade" 
        id="roomAdd" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="roomAddTitle" 
        aria-hidden="true">
        <div 
          class="modal-dialog modal-dialog-centered" 
          role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" 
                id="exampleModalLongTitle">
                Добавить помещение
              </h5>
              <button 
                type="button" 
                class="close" 
                data-dismiss="modal" 
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div formGroupName="room">
              <div class="modal-body">  

                  <div *ngIf="roomErrors.length > 0"
                    class="alert alert-danger">
                    <div *ngFor="let error of roomErrors">
                        <strong>Ошибка заполнения данных.</strong>{{error}}
                    </div>
                  </div>

                <div class="form-group">
                  <label for="inputRoomNumber">№ помещения</label>
                  <input 
                    formControlName="roomNumber"
                    type="number"      
                    min="0"            
                    class="form-control form-control-sm" 
                    id="inputRoomNumber">
                </div>             
                   
                <div class="form-group">
                  <label for="roomSelect">Помещение</label>
                  <ngx-select 
                    [formControl]="roomName"
                    optionValueField="id"
                    size="small"
                    optionTextField="roomTypeBuildingTypeName" 
                    [allowClear]="true"                    
                    [items]="roomTypes"
                    placeholder="Выберите помещение из списка или напишите ...">
                  </ngx-select>   
                </div>                

                <div class="form-group">
                  <label for="inputSquare">Площадь, м2</label>
                  <input 
                  formControlName="roomArea"
                    type="number" 
                    step="10"
                    min="0"
                    class="form-control form-control-sm" 
                    id="inputSquare">
                </div>
              
                <div class="form-group">
                  <label for="inputSquare">Высота, м</label>
                  <input 
                    formControlName="roomHeight"
                    type="number" 
                    step="10"
                    min="0"
                    class="form-control form-control-sm" 
                    id="inputSquare">
                </div>
              
                <div class="form-group">
                  <label for="inputSquare">Этаж</label>
                  <input 
                    formControlName="roomFloor"
                    type="number"               
                    class="form-control form-control-sm" 
                    id="inputSquare">
                </div>
              
                <div class="form-group">
                  <label for="inputSquare">Кол-во людей</label>
                  <input 
                    formControlName="roomPeopleAmount"
                    type="number"    
                    min="0"           
                    class="form-control form-control-sm" 
                    id="inputSquare" 
                    placeholder="0">
                </div>

                <div class="form-group">
                  <label for="inflowSystem">Приточная система</label>
                  <input 
                    formControlName="inflowSystem"                     
                    class="form-control form-control-sm" 
                    type="text"
                    id="inflowSystem">
                </div>

                <div class="form-group">
                    <label for="exhaustSystem">Вытяжная система</label>
                    <input 
                      formControlName="exhaustSystem"                     
                      class="form-control form-control-sm" 
                      type="text"
                      id="exhaustSystem">
                  </div>

              </div>

              <div class="modal-footer">
                <button 
                  type="button" 
                  class="btn btn-secondary" 
                  data-dismiss="modal">
                  Отмена
                </button>
                <button 
                  type="button" 
                  id="btnSave"
                  [attr.data-dismiss]="roomErrors.length == 0 ? 'modal' : null"
                  (click)="onSaveRoomClick()"
                  class="btn btn-primary">                            
                  Сохранить
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  
  <!-- Добавить помещение конец -->

  <!-- Таблица помещений начало -->
  <div class="space-top-1"></div>
  <div *ngIf="rooms.length > 0">
    <div class="row">

    </div>
    <div class="col-md-12">
        <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">№</th>
                <th scope="col">Наименование</th>
                <th scope="col">Площадь м2</th>
                <th scope="col">Высота</th>
                <th scope="col">Этаж</th>
                <th scope="col"> </th>          
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let r of rooms; let i=index">
                <td scope="row">{{ r.roomNumber }}</td>
                <td>{{ r.roomName }}</td>
                <td>{{ r.area }}</td>
                <td>{{ r.height }}</td>
                <td>{{ r.floor }}</td>
                <td>
                  <swal
                    #deleteSwal
                    title="Удалить помещение №{{ r.roomNumber }}?"
                    text="Действие не обратимо"
                    type="question"
                    [showCancelButton]="true"
                    [focusCancel]="true"
                    (confirm)="onDeleteRoomClick(r.id)">
                  </swal>
                  <button              
                    type="button" 
                    class="btn btn-primary btn-sm"              
                    (click)="deleteSwal.show()"
                    >
                    Удалить
                  </button>
                  <button 
                    type="button" 
                    class="btn btn-primary btn-sm"
                    data-toggle="modal" data-target="#roomAdd"
                    (click)="initRoom(r.id, true)">
                    Копировать
                  </button>  
                  <button 
                    type="button" 
                    class="btn btn-primary btn-sm"
                    data-toggle="modal" data-target="#roomAdd"
                    (click)="initRoom(r.id)">
                    Изменить
                  </button>           
                </td>         
              </tr>        
            </tbody>
          </table> 
    </div>
  
  </div>
  <!-- Таблица помещений конец -->

  <div class="space-top-3"
    *ngIf="airExchangeProject.airExchangeRooms.length > 0">
    <div class="row">
        <airexchange-form [airExchangeProject]="airExchangeProject"></airexchange-form>
    </div>
    
  </div>  
  
  <div *ngIf="airExchangeProject.airExchangeRooms.length > 0">
      <div class="space-top-1"></div>    
      <div class="row">
          <heating-form [airExchangeProject]="airExchangeProject"></heating-form>      
      </div>  
      
  </div>  
</form>